@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: StrawberryMuffins;
	src: url("fonts/Strawberry Muffins Demo.ttf")
}

body {
	font-family: StrawberryMuffins, Verdana, Geneva, Tahoma, sans-serif;
	background-image: linear-gradient(#9d3e90, #664394, #29509f);
	
	
}

.overlay {
	background-color: white;
	height: inherit;
	width: inherit;
}