@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: StrawberryMuffins;
	src: url("fonts/Strawberry Muffins Demo.ttf")
}

@font-face {
	font-family: Duvetica;
	src: url("fonts/Duvetica.otf");
}

body {
	font-family: StrawberryMuffins, Verdana, Geneva, Tahoma, sans-serif !important;
	background-image: linear-gradient(#9d3e90, #664394, #29509f);
	color: white !important;
	
}

header h1 {
	font-family: Duvetica !important;
	text-align: center;
	font-size: 90px;
}

.overlay {
	background-color: white;
	height: inherit;
	width: inherit;
}

nav ul li {
	list-style: none;
	text-decoration: none;
}